---
---

@import "minimal-mistakes"; // Importing theme styles

body {
  margin: 0 auto; // Centering the content with automatic margins
  max-width: 1200px; // Limiting maximum width of the content
  padding: 0 20px; // Adding some padding on the sides
}
