// Importing theme styles first
@import "minimal-mistakes";

// Then, define your custom styles
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/wheels_of_cadd.gif'); // Adjust the path
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1.0; // Example opacity, adjust as needed
  z-index: -1;
}
