body, .hero {
  background-image: url('/assets/images/wheels_of_CADD.gif'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
